.adminNav {
  display: flex;
  justify-content: center;
  .nav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    .festivalFormNav, .artistFormNav, .artistToFestivalFormNav, .navBarHome{
      color: white;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-bottom: 0.5rem;
      margin-left: 6rem;
      margin-right: 6rem;
      font-family: $titleFont;
      font-size: 13px;
      border-bottom: 2px solid $pink;
      &:hover {
        border: none;
      }
    }
    .selectedNav {
      border-bottom: 2px solid $green;
    }
  }
}