.map {
  display: flex;
  justify-content: center;
  .rsm-svg {
    // position: absolute;
    width: 80%;
    path {
      fill: black;
      stroke: gray;
      stroke-width: 1.5;
      &:hover {
        fill: $green;
        stroke: $black;
      }
    }
    .selectedContinent {
      fill: $pink;
      stroke: black;
      stroke-width: 1.5;
      &:hover {
        fill: #FF5722;
        stroke: $black;
        stroke-width: 1.5;
      }
    }

  }

}



