.searchInput {
  display: flex;
  justify-content: center;
  width: 100%;
  .searchFestival {
    width: 50%;
    text-align: center;
    input:focus::-webkit-input-placeholder { color:transparent; }
    caret-color: $pink;
    margin-top: 10rem;
    margin-bottom: 2rem;
    border: none;
    background-color: black;
    height: 35px;
    padding-bottom: 0px;
    font-size: 22px;
    font-family: $spotifyFont;
    outline: none;
    color: white;
    border-bottom: 1px solid gray;
    &:focus {
      border-bottom: 1px solid $green;
    }
  }
}