.select-year-container {
  outline: none;
  padding: 0px;
  margin: 0px;
  width: 25%;
  height: 35px;
  font-family: $spotifyFont;
  font-size: 20px;

  .select-year__control {
    outline: none;
    background-color: black;
    color: white;
    margin: 0px;
    border: none;
  }
  .select-year__menu {
    background-color: $darkGrey;
    border: none;
    .select-year__option--is-selected {
      background-color: $darkGrey;
      color: white;
    }
    .select-year__option--is-focused {
      background-color: $darkGrey;
      color: $green;
    }
    .select-year__option:hover {
      background-color: $darkGrey;
      color: $green;
    }
  }
}

.searchInput {
  display: flex;
  justify-content: center;
  width: 100%;
  .searchFestival {
    width: 50%;
    text-align: center;
    input:focus::-webkit-input-placeholder { color:transparent; }
    caret-color: $pink;
    margin-top: 10rem;
    margin-bottom: 2rem;
    border: none;
    background-color: black;
    height: 35px;
    padding-bottom: 0px;
    font-size: 22px;
    font-family: $spotifyFont;
    outline: none;
    color: white;
    border-bottom: 1px solid gray;
    &:focus {
      border-bottom: 1px solid $green;
    }
  }
}