path {
  fill: #1e1e1e;
  stroke: white;
  stroke-width: 1; }

path:hover {
  fill: #3df5ff;
  stroke: #181818;
  stroke-width: 1; }

.selectedContinent {
  fill: #FF5722;
  stroke: #181818;
  stroke-width: 1; }
  .selectedContinent:hover {
    fill: #FF5722;
    stroke: #181818;
    stroke-width: 1; }

.search .searchFestival {
  border-width: 1.5px;
  background-color: #181818;
  width: 80%;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: 10px;
  color: white; }
  .search .searchFestival:hover {
    border-color: #3df5ff; }

html {
  margin: 2rem; }
  html body {
    margin: 0px;
    background-color: #181818;
    color: white; }
