path {
  fill: #ECEFF1;
  stroke: #607D8B;
  strokeWidth: 0.75;
}
path:hover {
  fill: #607D8B;
  stroke: #607D8B;
  strokeWidth: 0.75;
}

.selectedContinent {
  fill: #FF5722;
  stroke: #607D8B;
  strokeWidth: 0.75;
}

