path {
  fill: #ECEFF1;
  stroke: #607D8B;
  stroke-Width: 0.75; }

path:hover {
  fill: #607D8B;
  stroke: #607D8B;
  stroke-Width: 0.75; }

.selectedContinent {
  fill: #FF5722;
  stroke: #607D8B;
  stroke-Width: 0.75; }

body {
  margin: 0px;
  padding: 2rem;
  background-color: white;
  color: black; }

li.artist.selected {
  color: green;
}

li.artist.notSelected {
  color: red;
}
