
$black: #181818;
$blue: #3df5ff;
$orange: #FD5F00;
$darkGrey: #1e1e1e;
$green: #01E365;
$pink: #FF005A;
$orange: #FF5722;

@import url('https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker');

$titleFont: "Oswald";
$markerFont: "Permanent Marker";
$spotifyFont: "Proxima Nova";
$thinFont: "proxima_nova_scosfthin";

@import 'styles/mapAndSearchPage/_map.scss';
@import 'styles/mapAndSearchPage/_search.scss';
@import 'styles/mapAndSearchPage/_mapAndSearch.scss';

@import 'styles/festivalsPage/_festivalList.scss';
@import 'styles/festivalsPage/_getLocation.scss';
@import 'styles/festivalsPage/_filters.scss';
@import 'styles/festivalsPage/_selectYear.scss';
@import 'styles/festivalsPage/_festivalsPage.scss';
@import 'styles/festivalsPage/_genreChart.scss';

@import 'styles/artistsPage/_festivalLineUp.scss';
@import 'styles/artistsPage/_artistsPage.scss';
@import 'styles/artistsPage/_selectGenre.scss';
@import 'styles/artistsPage/_selectArtistOptions.scss';
@import 'styles/artistsPage/_selectedGenres.scss';
@import 'styles/artistsPage/_createPlaylist.scss';


@import 'styles/_landingPage.scss';
@import 'styles/_navBar.scss';

@import 'styles/admin/_adminNav.scss';
@import 'styles/admin/_adminRequests.scss';
@import 'styles/admin/_adminForms.scss';

@import 'styles/topGenresAndArtistsPage/_topGenresAndArtists.scss';
@import 'styles/topGenresAndArtistsPage/_topArtists.scss';
@import 'styles/topGenresAndArtistsPage/_topGenres.scss';
@import 'styles/topGenresAndArtistsPage/_playlistList.scss';



html {
  margin: 0px;
  padding: 0px;
  body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: $thinFont;
    font-size: 15px;
    .Home {
      margin-left: 4rem;
      margin-right: 4rem;
    }
    .Admin {
      margin-top: 1rem;
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }

}
.spotifestLogo {
  position: fixed;
  bottom: 10px;
  right: 28px;
  color: gray;
  font-size: 20px;
  font-family: $titleFont;
  span {
    font-family: $markerFont;
    filter: brightness(40%);
    color: $green;
    font-size: 16px;
    position: fixed;
    bottom: 16px;
    right: 15px;
  }
}
.delay-2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.delay-6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.delay-10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay-15 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: 999;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: $green;
  height: 2px;
  overflow: hidden;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}