@import url("https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker");
.mapAndFestivalList {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem; }
  .mapAndFestivalList .rsm-svg {
    width: 75%; }
    .mapAndFestivalList .rsm-svg path {
      fill: #181818;
      stroke: white;
      stroke-width: 1.5; }
      .mapAndFestivalList .rsm-svg path:hover {
        fill: #3df5ff;
        stroke: #181818; }
    .mapAndFestivalList .rsm-svg .selectedContinent {
      fill: #FF5722;
      stroke: #181818;
      stroke-width: 1.5; }
      .mapAndFestivalList .rsm-svg .selectedContinent:hover {
        fill: #FF5722;
        stroke: #181818;
        stroke-width: 1.5; }

.search {
  display: flex;
  flex-direction: row;
  padding: 2px;
  padding-bottom: 4px;
  border: 1px solid white;
  height: 35px; }
  .search .select-year-container {
    padding: 0px;
    margin: 0px;
    width: 25%;
    height: 35px;
    font-family: sans-serif;
    font-size: 10px; }
    .search .select-year-container .select-year__control {
      background-color: #181818;
      color: white;
      margin: 0px;
      border: none; }
    .search .select-year-container .select-year__menu {
      background-color: #1e1e1e;
      border: none; }
      .search .select-year-container .select-year__menu .select-year__option--is-focused {
        background-color: #1e1e1e;
        color: #01E365; }
      .search .select-year-container .select-year__menu .select-year__option:hover {
        background-color: #1e1e1e;
        color: #01E365; }
  .search .searchFestival {
    margin: 0px;
    border: none;
    background-color: #181818;
    width: 75%;
    height: 35px;
    padding-left: 1rem;
    font-size: 10px;
    color: white; }
    .search .searchFestival:hover {
      border-color: #3df5ff; }

.list-of-continents {
  width: 25%; }

.get-location-button {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%; }
  .get-location-button .select-radius {
    width: 25%; }

.festivalSelected .lineup .artist.selected {
  color: #01E365; }

.festivalSelected .lineup .artist.notSelected {
  color: gray; }

.landing {
  margin: 0px;
  padding: 0px; }
  .landing .festivalPic {
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: -1; }
    .landing .festivalPic img {
      width: 100%;
      filter: brightness(20%) grayscale(100%); }
    .landing .festivalPic::after {
      display: block;
      position: relative;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, black 100%);
      margin-top: -150px;
      height: 150px;
      width: 100%;
      content: ''; }
  .landing .title {
    margin: 0px;
    padding: 10rem; }
    .landing .title h3 {
      position: absolute;
      margin: 0px;
      padding: 0px;
      padding-left: 1rem;
      font-family: "Oswald";
      font-size: 160px; }
    .landing .title h4 {
      position: absolute;
      z-index: 10;
      padding-top: 0px;
      margin-top: 7rem;
      padding-left: 13rem;
      font-family: "Permanent Marker";
      font-size: 100px;
      color: #01E365; }

html {
  margin: 0px;
  padding: 0px; }
  html body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 12px; }
