.createPlaylist {
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .row {
    text-align: center;
    .col-md-6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin-bottom: 1rem;
      }

    }

  }
  .titleInput {
    text-align: center;
    input:focus::-webkit-input-placeholder { color:transparent; }
    caret-color: $pink;
    border: none;
    background-color: black;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: $spotifyFont;
    outline: none;
    color: gray;
    border: 1px solid white;
    border-radius: 20px;
    width: 15rem;
    &:focus {
      border-color: $green;
    }
  }
  .select-number-container {
    height: 40px;
    padding: 0px;
    margin-bottom: 1rem;
    .select-number__control {
      cursor: pointer;
      background-color: black;
      width: 15rem;
      color: white;
      font-family: $spotifyFont;
      margin: 0px;
      border: 1px solid white;
      border-radius: 20px;
      .select-number__single-value {
        color: gray;
      }
      .select-number__value-container {
        display: flex;
        justify-content: center;
      }
    }
    .select-number__menu {
      background-color: $darkGrey;
      border: none;
      .select-number__option--is-selected {
        background-color: $darkGrey;
        color: white;
      }
      .select-number__option--is-focused {
        background-color: $darkGrey;
        color: $green;
      }
      .select-number__option:hover {
        background-color: $darkGrey;
        color: $green;
      }
    }
  }
  button {
    font-family: $spotifyFont;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-bottom: 0px;
    border: 1px solid white;
    height: 40px;
    width: 15rem;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: $green;
      color: black;
      border-color: black;
    }
    .loading:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 900ms infinite;
      animation: ellipsis steps(4, end) 900ms infinite;
      content: "\2026";
      /* ascii code for the ellipsis character */
      width: 0px;
    }

    @keyframes ellipsis {
      to {
        width: 1.25em;
      }
    }

    @-webkit-keyframes ellipsis {
      to {
        width: 1.25em;
      }
    }
  }
}


