.get-location {
    .get-location-button {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 1rem;
      button {
        font-family: $spotifyFont;
        background-color: white;
        color: black;
        border-radius: 20px;
        padding: 0.5rem;
        margin-bottom: 0px;
        margin-left: 0.5rem;
        border: 1px solid white;
        height: 38px;
        width: 15rem;
        outline: none;
        &:hover {
          background-color: $green;
          border-color: $green;
        }

      }
      .select-radius-container {
        height: 40px;
        width: 12rem;
        .select-radius__control {
          background-color: black;
          color: white;
          font-family: $spotifyFont;
          margin: 0px;
          border: 1px solid white;
          border-radius: 20px;
          .select-radius__single-value {
            color: gray;
          }
          .select-radius__value-container {
            display: flex;
            justify-content: center;
          }
        }
        .select-radius__menu {
          background-color: $darkGrey;
          border: none;
          .select-radius__option--is-selected {
            background-color: $darkGrey;
            color: white;
          }
          .select-radius__option--is-focused {
            background-color: $darkGrey;
            color: $green;
          }
          .select-radius__option:hover {
            background-color: $darkGrey;
            color: $green;
          }
        }

      }
    }
    .getting-location-message {

    }
  }