.landing {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  .festivalPic {
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: -1;
    img {
      width: 100%;
      filter: brightness(20%) grayscale(100%)
      // filter: brightness(30%)
    }
    &::after {
      display: block;
      position: relative;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, black 100%);
      margin-top: -150px;
      height: 150px;
      width: 100%;
      content: '';
    }
  }
  .animation-delay-200 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .titleAndLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    .title {
      margin: 0px;
      padding: 10rem;
      display: flex;
      justify-content: center;
      h3 {
        position: absolute;
        font-family: $titleFont;
        font-size: 160px;
      }
      h4 {
        position: absolute;
        z-index: 10;
        padding-top: 7rem;
        padding-left: 10rem;
        font-family: $markerFont;
        font-size: 100px;
        color: $green;
      }
    }
    .loginButton {
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 5rem;
      p {
        padding: 0.75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: inline-block;
        border: 1px solid white;
        border-radius: 40px;
        font-family: $thinFont;
        font-size: 13px;
        img {
          height: 30px;
          margin-right: 1rem;
        }
        .greenLogo {
          display: none;
        }
        &:hover {
          color: $green;
          border-color: $green;
          .greenLogo {
            display: inline-block;
          }
          .whiteLogo {
            display: none;
          }
        }
      }
    }
  }
}