.mapAndFestivalList {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;

  .rsm-svg {
    width: 75%;
    path {
      fill: black;
      stroke: gray;
      stroke-width: 1.5;
      &:hover {
        fill: $green;
        stroke: $black;
      }
    }
    .selectedContinent {
      fill: $pink;
      stroke: black;
      stroke-width: 1.5;
      &:hover {
        fill: #FF5722;
        stroke: $black;
        stroke-width: 1.5;
      }
    }

  }

}

