path {
  fill: $darkGrey;
  stroke: white;
  stroke-width: 1;
}
path:hover {
  fill: $blue;
  stroke: $black;
  stroke-width: 1;
}

.selectedContinent {
  fill: $orange;
  stroke: $black;
  stroke-width: 1;
  &:hover {
    fill: #FF5722;
    stroke: $black;
    stroke-width: 1;
  }
}

