.navBar {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: black;
  box-shadow: 0px 1px 10px black;
  z-index: 9999;
  .row {
    a {
      color: white;
      text-decoration: none;
    }
    p {
      cursor: pointer;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-bottom: 0.5rem;
      margin-left: 6rem;
      margin-right: 6rem;
      font-family: $titleFont;
      font-size: 16px;
      border-bottom: 2px solid $pink;
      &:hover {
        border: none;
      }
    }
  }
}