.topArtists {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .topArtistsTitle {
    font-family: $markerFont;
    font-size: 22px;
  }
  .topArtistsList {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    .artistDiv {
      display: flex;
      flex-direction: column;
      .artistName {
        text-align: center;
      }
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        border: 2px solid white;
      }
      &.belongsToGenre {
        .artistName {
          color: $green;
        }
        img {
          border-color: $green;
        }
      }
    }
  }

}